Source: kasumi
Section: x11
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Ikuya Awashiro <ikuya@oooug.jp>
Uploaders: Akira TAGOH <tagoh@debian.org>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, gettext, autotools-dev, dpatch, xsltproc, docbook-xsl, libanthy-dev
Standards-Version: 3.7.2

Package: kasumi
Architecture: any
Depends: ${shlibs:Depends}
Recommends: anthy
Description: Simple dictionary utility for Anthy
 Kasumi is personal dictionary management tool for Anthy.
 Anthy is a Japanese input method to convert Hiragana text to 
 Kana Kanji mixed text.
 .
 Featuring add words, edit words, delete words, search words 
 and so on.
