Source: kasumi
Section: x11
Priority: optional
Maintainer: Ikuya Awashiro <ikuya@oooug.jp>
Uploaders: Rolf Leggewie <foss@rolf.leggewie.biz>
Homepage: http://kasumi.sourceforge.jp/
Build-Depends: debhelper (>= 9), libgtk2.0-dev, gettext, autotools-dev, libanthy-dev
Standards-Version: 3.8.4
Vcs-Browser: http://git.debian.org/?p=collab-maint/kasumi.git
Vcs-Git: git://git.debian.org/collab-maint/kasumi.git

Package: kasumi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: anthy
Description: Simple dictionary utility for Anthy
 Kasumi is a personal dictionary management tool for Anthy.
 Anthy is a Japanese input method to convert Hiragana text to 
 Kana Kanji mixed text.
 .
 Featuring add words, edit words, delete words, search words 
 and so on.
