#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

LDFLAGS += -Wl,-z,defs -Wl,--as-needed

build: patch-stamp
clean: unpatch

%:
	dh $@

override_dh_build:
	dh_build
	$(MAKE) -C po kasumi.pot

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
